*{
box-sizing: border-box;
padding:0;
margin:0;
font-size: 100%;
font: inherit;
}

body{
font-size: rem(16);
font-family: 'Montserrat', sans-serif;
line-height: 1.2;
word-wrap: break-word;
background-color: #ffffff;
}

body:-webkit-full-screen {
width: 100%;
height: 100%;
}

.wrapper{
width:85%;
margin: 0 auto;
}
