.animate-msg{
top: rem(25) !important;
opacity: 1 !important;
}

.border{
border: 1px solid red;
}

.settings-tab{
left:0 !important;
}

.sidebar-left-toggle{
left:0 !important;
}

.sidebar-right-toggle{
right: rem(-330) !important;
}
