.info{
position: absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%);
color: $color-font;
background: #ffffff;
border-radius: rem(5);
display: flex;
max-width: rem(500);
padding: rem(25);
width:100%;
font-size: rem(18);
}

.btn-yes{
background: transparent;
border:none;
font-family: 'Montserrat', sans-serif;
border: 1px solid $color-font;
font-size: rem(16);
width: rem(100);
cursor: pointer;
}

.btn-no{
background: transparent;
border:none;
font-family: 'Montserrat', sans-serif;
border: 1px solid $color-font;
font-size: rem(16);
width: rem(100);
cursor: pointer;
}
